body 
{
    background-color: #151515;
    overflow: hidden;
}

canvas 
{
    z-index: 0;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    cursor: none;
}

.notification 
{
    border-radius: 50%;
    position: fixed;
    z-index: 1000;
    padding: 5px;
    border: 2px solid #BBB; 
    font-size: 20px;
    background: white;
    text-align: center;
}

.notification img
{
    border-radius: 50%;
}
  
.achivementUnlocked {
    background: white;
}

.FullFlexedClearFone
{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wrapper
{
    z-index: 2;
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button
{
    background-color: #323233;
    border-color: #1E1E1E;
    color: white;
    font-size: 1em;
    margin-top: 10px;
    height: 3em;
    width: 100%;
}

progress
{
    width: 100%;
    padding: 6px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

progress::-webkit-progress-value 
{
    background: #2C7AD6;
}

#achivements
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(auto, 1em);
    grid-gap: 1em;
    visibility: hidden;
}

.module 
{
    z-index: 2;
    background: #eaeaea;

    align-items: center;
    justify-content: center;
    height: 200px;
    
    overflow-x: hidden;
    overflow-y: scroll;
}

.module img
{
    width: 125px;
    height: 125px;
}
